<!-- <nav>
    <div>
        <a href="/">RecipePot</a>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/recipes">All Recipes</a>
                </li>
                <li>
                    <a href="/recipes/new">Add New Recipe</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="nav-top">
    <div class="logo">
        <a href="/">Our<br>Recipe<br>Pot</a>
    </div>
    <div class="links">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About us</a>
            </li>
            <li>
                <a href="/recipes">Recipes</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>